version: '3'

services:
  backup:
    build: .
    container_name: backup
    restart: always
    networks:
      - internal_network  # Changed from misskey-postgres
    env_file:
      - ./config/.env
    volumes:
      - misskey-data:/misskey-data

networks:
  internal_network:
    external: true  # This will use the existing Misskey internal network
volumes:
  misskey-data:

