# =============================================
#  misskey backup
#  このファイルを./config/.envとしてコピーして編集してください
# =============================================

# postgres接続情報
POSTGRES_HOST=postgres
POSTGRES_USER=
POSTGRES_DB=mk1
PGPASSWORD=

# Cloudflare R2接続情報
RCLONE_CONFIG_R2_ENDPOINT=
RCLONE_CONFIG_R2_ACCESS_KEY_ID=
RCLONE_CONFIG_R2_SECRET_ACCESS_KEY=
RCLONE_CONFIG_R2_BUCKET_ACL=private

R2_PREFIX=backups

# Backblaze B2接続情報
RCLONE_CONFIG_B2_TYPE=b2
RCLONE_CONFIG_B2_ACCOUNT=
RCLONE_CONFIG_B2_KEY=

B2_BUCKET=yamisskey-backup
B2_PREFIX=backups

# エラー通知設定
NOTIFICATION=true
DISCORD_WEBHOOK_URL=https://discord.com/hogehoge